<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Department</th>
      <th>GPA</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.firstName }} {{ student.lastName }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.department }}</td>
      <td>{{ student.GPA }}</td>
      <td>
        <div class="d-flex gap-2 flex-wrap">
          <a class="btn btn-info btn-sm" [routerLink]="['/student', student.id]"
            >View</a
          >
          <button
            class="btn btn-danger btn-sm"
            (click)="onDelete.emit(student.id)"
          >
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
